.header{
    background-color: black;
    height: 11vh;
    position: absolute;
    z-index: +1;
    top:0;
    align-items: center;
    display: flex;
    right: 0;
    left: 0;
    justify-content: space-between;
    
}

.header_logo{
    height: 55px;
    padding: 5px 30px;
}

.header_login{
    font-size: 20px;
    border: 1px solid white;
    padding: 10px 20px;
    letter-spacing: 2px;
    height: 7vh;
    margin-right: 30px;
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.header_login:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition :all 0.2s ease-out;
    
}

.header_options{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
        margin-right: auto;
        margin-left: 25px;
        justify-content: flex-end;

}

@media (max-width: 768px){
    .header_options{
        display : none;
    }
    
}

.header_options>a{
   letter-spacing: 2px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.header_options>a:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
    
}

.header_options>a>span{
    margin-left: 10px;
}


.header >a:hover{
    cursor: pointer;
}
.header_signOut{
    position: absolute;
    top: 65px;
    font-size: 14px;
    right: 50px;
    background-color: black;
    letter-spacing: 5px;
    border-radius: 8px;
    padding: 10px 10px;
    border: 0.5px solid white;
    opacity: 0;
}


.header_dpdetails{
    margin-right: 30px;
}

.header_dpdetails:hover .header_signOut{
    opacity: 1;
}